style.css
/* *COMMON CSS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,li{
    list-style: none;
}

a{
    text-decoration: none;
}

body{
    font-family: arial;
}

/* *COMMON CSS END */
nav{
    background: #bc4e9c;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #f80759, #bc4e9c);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #f80759, #bc4e9c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
text-align: center;
padding: 6px 0;
}
nav ul li{
    display: inline-block;
}
nav ul li a{
    color: azure;
    padding: 10px 20px;
    display: block;
    margin: 0px 10px;
}
nav ul li:hover a{
    background-color: antiquewhite;
    color: black;
}
nav ul li .navber{
    background-color: bisque;
    color: black;
}
nav ul li .submenu{
  position: absolute; 
  border: 1px solid wheat;
  background-color: #fff; 
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
  margin: 40px;
}
nav ul li .submenu li{
    display: block;
    border-bottom: 1px solid wheat;
}
nav ul li .submenu li a{
    color: black;
    transition: 0.25s;
    display: block;
}

nav ul li:hover .submenu{
    opacity: 1;
    visibility: visible;
    margin-top: 0;

}

nav ul li .submenu li:hover a{
    margin-left: 26px;
}